<app-client-employee-details-template-table
        [columns]="columns"
        [datasource]="posts"
        [responsive]="responsive"
        [reorderableColumns]="reorderableColumns"
        [rows]="rows"
        [paginator]="paginator"
        [rowHover]="rowHover"
        [loading]="loading"
        [sortField]="sortField"
        [routerLinkUrl]="routerLinkUrl"
        [autoLayout]="autoLayout"
        [addButtonTitle]="buttonTitle.add"
        [editButtonTitle]="buttonTitle.edit"
        (refreshDatasource)="refreshDatasource()"
        [sortOrder]="sortOrder"
></app-client-employee-details-template-table>

