<p-growl [value]="msgs"></p-growl>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-check" 
          class="ui-button-primary" label="Ок" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="fa-close" 
          class="ui-button-secondary" label="Отмена" (click)="cd.reject()">
        </button>
    </p-footer>
</p-confirmDialog>

<div class="ui-g-12">
    <div class="ui-g-10">
      <p-card>
        <div class="ui-g">
            <div class="ui-g-4 ui-sm-6"><b>Номер договора:</b></div>
            <div class="ui-g-8 ui-sm-6">{{agreement?.number}}</div>
            <div class="ui-g-4 ui-sm-6"><b>Дата:</b></div>
            <div class="ui-g-8 ui-sm-6">{{agreement?.dateStart | date: 'dd.MM.y'}}</div>
            <div class="ui-g-4 ui-sm-6"><b>Клиент:</b></div>
            <div class="ui-g-8 ui-sm-6">{{agreement?.clientTitle}}</div>
            <div class="ui-g-4 ui-sm-6"><b>Примечание:</b></div>
            <div class="ui-g-8 ui-sm-6"><i>{{agreement?.comment}}</i></div>
          </div>
      </p-card>
    </div>
    <div class="ui-g-2">
        <button pButton type="button" label="Изменить" 
          class="ui-button-success btn-block" icon="fa fa-edit"
          [routerLink]="['edit']">
        </button>
        <button pButton type="button" label="Удалить" 
          class="ui-button-danger btn-block" icon="fa fa-trash-o"
          (click)="confirmDeleting()">
        </button>
    </div>
</div>
