<p class="p4">
  
<div class="container">
  <nav class="navbar fixed-bottom navbar-light" style="background-color: #E6E6FA;">
      <div class="mx-auto">
        <span>© 2017-2018 Apollon Saifullin. All rights reserved. 
          Contacts: 
            <a href="mailto:apollo.saifullin@gmail.com"><i class="fa fa-envelope" style="font-size:18px;"></i></a>
            <a href="skype:apollo.saifullin?chat"><i class="fa fa-skype" style="font-size:18px;"></i></a>
          | Sources:
            <a href="https://github.com/Apollo-S/CRMApp"><i class="fa fa-github" style="font-size:18px;"></i></a>
        </span>
      </div>
  </nav>
</div>