<common-table-view-all
    [title]="title"
    [datasource]="agreements"
    [columns]="columns"
    [menuModel]="items"
    [responsive]="responsive"
    [reorderableColumns]="reorderableColumns"
    [rows]="0"
    [paginator]="paginator"
    [rowHover]="rowHover"
    [loading]="loading"
    [autoLayout]="autoLayout"
    [sortField]="sortField"
    [addButtonTitle]="buttonTitle.add"
    [editButtonTitle]="buttonTitle.edit"
    [additionalButtonTitle]="buttonTitle.additional"
    (refreshDatasource)="refreshDatasource()"
></common-table-view-all>
