.navbar-collapsed {
    left:300px;
    margin-left:255px;
    margin-top:35px;
    margin-right:0px;
}

.navbar-expanded {
    margin-top:35px;
}

.navbar-collapsed-fixed {
    position:fixed;
    left:257px;
    right:0px;
    top:0;
    width:auto;
    z-index:101;
}

.navbar-expanded-fixed {
    position:fixed;
    left:0px;
    right:0px;
    top:0;
    width:auto;
    z-index:101;
}

.menu-set {
    position:fixed; 
    height:100%;
    z-index:101;
}

.toast-margin-top {
    margin-top: 40px;
}

