<app-dashboard-table 
    [title]="title"
    [columns]="columns" 
    [datasource]="clients"
    [autoLayout]="autoLayout"
    [responsive]="responsive"
    [reorderableColumns]="reorderableColumns"
    [rows]="rows"
    [paginator]="paginator"
    [rowHover]="rowHover"
    [loading]="loading"
    [menuModel]="items" 
    [sortField]="sortField"
    [addButtonTitle]="buttonTitle.add"
    [editButtonTitle]="buttonTitle.edit"
    [additionalButtonTitle]="buttonTitle.additional"
    (refreshDatasource)="refreshDatasource()"
></app-dashboard-table>