<p-growl [value]="msgs"></p-growl>

<div class="ui-g-12">
  <form form (ngSubmit)="onSubmit()">
    <div class="ui-g-10">
      <p-card>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              <b>Фамилия, имя, отчество:</b>
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" name="fullName" placeholder="напр., Иванов Иван Иванович"
                [(ngModel)]="director.fullName">
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              <b>Фамилия и инициалы:</b>
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" name="shortName" placeholder="напр., Иванов И.И."
                [(ngModel)]="director.shortName">
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              <b>Должность:</b>
            </div>
            <div class="ui-grid-col-6">
                <p-dropdown [options]="posts" [(ngModel)]="director.post" name="post" 
                  optionLabel="title" [autoWidth]="false" placeholder="Выберите должность...">
                </p-dropdown>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              <b>Актуален с:</b>
            </div>
            <div class="ui-grid-col-3">
              <p-calendar [(ngModel)]="director.dateStart" name="dateStart" placeholder="Дата"
                [monthNavigator]="true" [yearNavigator]="true" yearRange="{{years}}" [locale]="ru" 
                showButtonBar="true" [showIcon]="true" dateFormat="dd.mm.yy"></p-calendar>
            </div>
          </div>
        </div>
      </p-card>
    </div>
    <div class="ui-g-2">
      <button pButton type="submit" label="Сохранить"
        class="ui-button-success btn-block" icon="fa fa-check-square-o">
      </button>
      <button pButton type="button" label="Отменить" 
        class="ui-button-danger btn-block" icon="fa fa-arrow-circle-o-left"
        [routerLink]="['../']">
      </button>
    </div>
  </form>
</div>