<nav class="breadcrumb">
  <div class="row">
    <div class="col">
      <h5>
        <strong>
          <a class="breadcrumb-item" routerLink="/employees">
            <i class="fa fa-users">
              </i> Сотрудники
          </a>
          <a 
            class="breadcrumb-item"
            [routerLink]="['/employees', employee?.id]">{{employee?.shortName}}
          </a>
          <span class="breadcrumb-item active">Редактирование</span>
        </strong>
      </h5>
    </div>
  </div>
</nav>

<p>

<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link active">
      <i class="fa fa-address-card-o">
        </i> <strong>Основные данные</strong>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">
      <i class="fa fa-building-o">
        </i> <strong>Адресы</strong>
  </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">
      <i class="fa fa-bank">
        </i> <strong>Банковские реквизиты</strong>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">
      <i class="fa fa-user-o">
        </i> <strong>Отпуск / Больничные листы</strong>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">
      <i class="fa fa-file-text-o">
        </i> <strong>Договоры</strong>
    </a>
  </li>
</ul>

<p>
              
<form (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label for="surname"><strong>Фамилия</strong></label> 
              <input type="text" class="form-control"
                [(ngModel)]="employee.surname" name="surname"
                #employeeSurname="ngModel" minlength="2" required>
              <div *ngIf="employeeSurname.errors?.required && employeeSurname.touched" class="alert alert-danger">
                Введите фамилию!
              </div>
              <div *ngIf="employeeSurname.errors?.minlength && employeeSurname.touched" class="alert alert-danger">
                  Фамилия должна содержать не менее 2 символов!
              </div>
            </div>
            <div class="col-md-4">
              <label for="firstname"><strong>Имя</strong></label>
              <input type="text" class="form-control"
                [(ngModel)]="employee.firstname" name="firstname"
                #employeeFirstname="ngModel" minlength="2" required>
              <div *ngIf="employeeFirstname.errors?.required && employeeFirstname.touched" class="alert alert-danger">
                Введите имя!
              </div>
              <div *ngIf="employeeFirstname.errors?.minlength && employeeFirstname.touched" class="alert alert-danger">
                Имя должно содержать не менее 2 символов!
              </div>
            </div>
            <div class="col-md-4">
                <label for="lastname"><strong>Отчество</strong></label>
                <input type="text" class="form-control"
                  [(ngModel)]="employee.lastname" name="lastname"
                  #employeeLastname="ngModel" minlength="2" required>
                <div *ngIf="employeeLastname.errors?.required && employeeLastname.touched" class="alert alert-danger">
                  Введите отчество!
                </div>
                <div *ngIf="employeeLastname.errors?.minlength && employeeLastname.touched" class="alert alert-danger">
                  Отчество должно содержать не менее 2 символов!
                </div>
              </div>
          </div>
          <p>
          <div class="row">
            <div class="col-md-4">
              <label for="shortName"><strong>Фамилия, инициалы</strong></label>
              <input type="text" class="form-control" 
                [(ngModel)]="employee.shortName" name="edrpou" 
                #employeeShortName="ngModel" minlength="7" required>
                <div *ngIf="employeeShortName.errors?.required && employeeShortName.touched" class="alert alert-danger">
                  Введите Фамилия, инициалы!
                </div>
                <div *ngIf="employeeShortName.errors?.minlength && employeeShortName.touched" class="alert alert-danger">
                    Фамилия, инициалы должно содержать не менее 7 символов!
                </div>
            </div>
            <div class="form-group col-md-4">
              <label for="inn"><strong>ИНН</strong></label>
              <input type="text" class="form-control" 
              [(ngModel)]="employee.inn" name="inn">
            </div>
            <div class="col-md-4">
              <label for="birthDate"><strong>Дата рождения</strong></label>
              <input type="text" class="form-control" 
              [(ngModel)]="employee.birthDate" name="birthDate">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <a class="btn btn-info btn-block"
        [routerLink]="['../']">
        <i class="fa fa-arrow-circle-o-left">
          </i> Назад к сотруднику
      </a> 
      <button 
        type="submit" 
        class="btn btn-success btn-block">
          <i class="fa fa-check-square-o">
            </i> Записать
      </button>
    </div>
  </div>
</form>