<app-client-employee-details-template-table
        [columns]="columns"
        [datasource]="addresses"
        [responsive]="responsive"
        [reorderableColumns]="options.reorderableColumns"
        [rows]="options.rows"
        [paginator]="options.paginator"
        [rowHover]="options.rowHover"
        [loading]="loading"
        [routerLinkUrl]="options.routerLinkUrl"
        [autoLayout]="options.autoLayout"
        [addButtonTitle]="options.buttonTitle.add"
        [editButtonTitle]="options.buttonTitle.edit"
        (refreshDatasource)="refreshDatasource()"
></app-client-employee-details-template-table>
