<p-growl [value]="msgs"></p-growl>

<div class="ui-g">
  <div class="ui-g-4">
    <button pButton type="button" label="Вернуться" class="ui-button-info"
      icon="fa fa-arrow-circle-o-left" routerLink="../"></button>
  </div>
  <div class="ui-g-8">
    <h4 style="font-weight:normal">
      <b><ins>Новый клиент</ins></b>
    </h4>
  </div>
</div>

<div>
    <p-tabMenu [model]="tabs"></p-tabMenu>
</div>

<div class="ui-g-12">
  <form [formGroup]="userform" (ngSubmit)="onSubmit()">
    <div class="ui-g-10">
      <p-card>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              <b>Полное название: *</b>
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" formControlName="title" placeholder="Обязательное поле"
                [(ngModel)]="client.title">
            </div>
            <div class="ui-grid-col-3">
              <div class="ui-message ui-messages-error ui-corner-all" 
                *ngIf="!userform.controls['title'].valid&&userform.controls['title'].dirty">
                  <i class="fa fa-exclamation-circle"></i>
                  Введите полное название (не менее 2 символов)!
              </div>            
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              <b>Псевдоним: *</b>
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" formControlName="alias" placeholder="Обязательное поле"
                [(ngModel)]="client.alias">
            </div>
            <div class="ui-grid-col-3">
              <div class="ui-message ui-messages-error ui-corner-all" 
                *ngIf="!userform.controls['alias'].valid&&userform.controls['alias'].dirty">
                  <i class="fa fa-exclamation-circle"></i>
                  Введите псевдоним (не менее 2 символов)!
              </div>            
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              <b>ЕДРПОУ: *</b>
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" formControlName="edrpou" 
                placeholder="Обязательное поле" pKeyFilter="num"
                [(ngModel)]="client.edrpou">
            </div>
            <div class="ui-grid-col-3">
              <div class="ui-message ui-messages-error ui-corner-all" 
                *ngIf="!userform.controls['edrpou'].valid&&userform.controls['edrpou'].dirty">
                  <i class="fa fa-exclamation-circle"></i>
                  Введите ЕДРПОУ (не менее 6 и не более 14 цифр)!
              </div>            
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              <b>ИНН:</b>
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" formControlName="inn" 
                placeholder="Введите ИНН (необязательное поле)"
                [(ngModel)]="client.inn">
            </div>
            <div class="ui-grid-col-3">
              <div class="ui-message ui-messages-error ui-corner-all" 
                *ngIf="!userform.controls['inn'].valid">
                  <i class="fa fa-exclamation-circle"></i>
                  Введите не более 14 цифр)!
              </div>  
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              <b>№ свидетельства плат. НДС:</b>
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" formControlName="vatCertificate" 
                placeholder="Введите № свид. НДС (необязательное поле)"
                [(ngModel)]="client.vatCertificate" >
            </div>
          </div>
        </div>
      </p-card>
    </div>
    <div class="ui-g-2">
      <button pButton type="submit" label="Записать" [disabled]="!userform.valid"
        class="ui-button-success btn-block" icon="fa fa-check-square-o">
      </button>
      <button pButton type="button" label="Отмена" 
        class="ui-button-danger btn-block" icon="fa fa-times-rectangle-o"
        [routerLink]="['../']">
      </button>
    </div>
  </form>
</div>
