<common-table-view-all
        [title]="title"
        [columns]="columns"
        [datasource]="employees"
        [autoLayout]="autoLayout"
        [responsive]="responsive"
        [reorderableColumns]="reorderableColumns"
        [rows]="rows"
        [paginator]="paginator"
        [rowHover]="rowHover"
        [loading]="loading"
        [menuModel]="items"
        [sortField]="sortField"
        [addButtonTitle]="buttonTitle.add"
        [editButtonTitle]="buttonTitle.edit"
        [additionalButtonTitle]="buttonTitle.additional"
        (refreshDatasource)="ngOnInit()"
        [selectedItem]="selectedItem"
></common-table-view-all>
