<div class="ui-g-12">
    <p-card>
        <p-table #dt [columns]="columns" [responsive]="true" (sortFunction)="customSort($event)" [customSort]="false"
            [value]="documents" [reorderableColumns]="true" [columnResizeMode]="expand" [autoLayout]="true"
            [rows]="null" [rowHover]="true" [paginator]="false" [dataKey]="id" [loading]="false">
            <ng-template pTemplate="caption">
                <div style="float:left">
                    <button pButton type="button" label="Добавить" style="margin-top:2px" 
                        [routerLink]="['add']" icon="fa-plus">
                    </button>
                </div>
                <div style="text-align:right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Фильтр" style="width:auto" 
                        (input)="dt.filterGlobal($event.target.value, 'contains')">
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let column of columns" style="text-align:center" 
                        [pSortableColumn]="column.field" pReorderableColumn>
                        {{column.header}}
                        <p-sortIcon [field]="column.field"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-document let-rowData let-expanded="expanded" let-columns="columns">
                <tr>
                    <td style="text-align:center" (click)="goToEntry(document?.url)">
                        {{document.id}}
                    </td>
                    <td style="text-align:left" (click)="goToEntry(document?.url)">
                        {{document.docType.shortTitle}}
                    </td>
                    <td style="text-align:center" (click)="goToEntry(document?.url)">
                        {{document.number}}
                    </td>
                    <td style="text-align:center" (click)="goToEntry(document?.url)">
                        {{document.amount | number: '3.2-2'}}
                    </td>
                    <td style="text-align:center" (click)="goToEntry(document?.url)">
                        {{document.dated == null ? '-' : document.dated | date: 'dd.MM.y'}}
                    </td>
                    <td style="text-align:center" (click)="goToEntry(document?.url)">
                        {{document.paymentDate == null ? '-' : document.paymentDate | date: 'dd.MM.y'}}
                    </td>
                    <td style="text-align:center" (click)="goToEntry(document?.url)">
                        {{document.status.status}}
                    </td>
                    <td style="text-align:center">
                        <button pButton type="button" class="ui-button-info" 
                            icon="fa-arrow-circle-o-right"  
                            (click)="goToEntry(document?.url)">
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length + 2" style="text-align:center">
                        No records found
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                Кол-во записей: {{documents?.length}}
            </ng-template>
        </p-table>
    </p-card>
</div>
