<div class="ui-g">
    <div class="ui-g-4">
        <button
                pButton
                type="button"
                label="Вернуться"
                class="ui-button-info"
                icon="fa fa-arrow-circle-o-left"
                routerLink="../"
        ></button>
    </div>
    <div class="ui-g-8" *ngIf="loadingState">
        <app-loading-status [title]="''"></app-loading-status>
    </div>
    <div class="ui-g-8" *ngIf="!loadingState" style="display:inline-block;margin-top:4px">
        <h4>
            <b>
                <ins>{{client?.title}}</ins>
            </b>
        </h4>
    </div>
</div>

<div>
    <app-client-details-tabs></app-client-details-tabs>
    <router-outlet></router-outlet>
</div>
