<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="display:inline-block;margin-top:6px">
                <h4><b>{{title}}</b></h4>
            </span>  
        </div>
    </p-header>
    <p-table #dt [columns]="columns" [responsive]="responsive" [sortField]="sortField" [sortOrder]="1"
        [value]="datasource" [reorderableColumns]="reorderableColumns" [autoLayout]="autoLayout"
        [rows]="rows" [rowHover]="rowHover" [paginator]="paginator" selectionMode="single" [(selection)]="selectedItem"
        [loading]="loading" dataKey="id">
        <ng-template pTemplate="caption">
            <div>
                <button pButton type="button" label="{{addButtonTitle}}" style="margin-top:2px;float:left" 
                    [routerLink]="['add']" icon="fa fa-plus">
                </button>
                <button pButton type="button" label="{{editButtonTitle}}" style="margin-left:2px;margin-top:2px;float:left" 
                    (click)="goToEntry(selectedItem?.url)" icon="fa fa-edit" class="ui-button-rounded ui-button-success" [disabled]="!selectedItem">
                </button>
                <p-tieredMenu #menu [model]="menuModel" [popup]="true" 
                    appendTo="body">
                </p-tieredMenu>
                <button *ngIf="menuModel?.length > 0"
                    #btn pButton type="button" icon="fa fa-list" class="ui-button-info" 
                    style="margin-left:2px;margin-top:2px;float:left" label="{{additionalButtonTitle}}"
                    (click)="menu.toggle($event)" (mousedown)="initMenu(selectedItem?.id)" [disabled]="!selectedItem">
                </button>
            </div>
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Фильтр" style="width:auto" 
                    (input)="dt.filterGlobal($event.target.value, 'contains')">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let column of columns" style="text-align:center"  
                    [pSortableColumn]="column.field" pReorderableColumn>
                    {{column.header}}
                    <p-sortIcon [field]="column.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-datasource let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let column of columns" style="text-align:center"
                    (dblclick)="goToEntry(datasource?.url)">
                    <span class="ui-column-title">{{column.header}}</span>
                    {{rowData[column.field]}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length + 2" style="text-align:center">
                    Записи не найдены
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            Кол-во записей: {{datasource?.length}}
        </ng-template>
    </p-table>
</p-panel>
