<p *ngIf="showFilter">
    <p-card>
        <div class="ui-grid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                    <b>Клиент:</b>
                </div>
                <div class="ui-grid-col-7">
                    <p-multiSelect [options]="clients" optionLabel="title" selectedItemsLabel="{0} эл. выбрано"
                        maxSelectedLabels="1" [resetFilterOnHide]="true" [panelStyle]="{minWidth:'12em'}"
                        [style]="{width:'300px'}"
                        defaultLabel="Не выбрано" [(ngModel)]="selectedClients">
                    </p-multiSelect>
                </div>
                <div class="ui-grid-col-2">
                    <button pButton type="button" icon="fa fa-filter" label="Фильтровать" style="float:right"
                        class="ui-button-info btn-block" (click)="useFilter('id', 'asc')" >
                    </button>
                </div>
            </div>    
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                    <b>Тип документа:</b>
                </div>
                <div class="ui-grid-col-7">
                    <p-multiSelect [options]="docTypes" optionLabel="title" selectedItemsLabel="{0} эл. выбрано"
                        maxSelectedLabels="1" [resetFilterOnHide]="true" [panelStyle]="{minWidth:'12em'}"
                        [style]="{width:'300px'}"
                        defaultLabel="Не выбрано" [(ngModel)]="selectedDocTypes">
                    </p-multiSelect>
                </div>
                <div class="ui-grid-col-2">
                    <button pButton type="button" icon="fa fa-trash" label="Очистить"
                        (click)="clearFilter()" class="ui-button-success btn-block" style="float:right">
                    </button>
                </div>
            </div>     
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                    <b>Статус:</b>
                </div>
                <div class="ui-grid-col-7">
                    <p-multiSelect [options]="docStatuses" optionLabel="status" selectedItemsLabel="{0} эл. выбрано"
                        maxSelectedLabels="1" [resetFilterOnHide]="true" [panelStyle]="{minWidth:'12em'}"
                        [style]="{width:'300px'}"
                        defaultLabel="Не выбрано" [(ngModel)]="selectedDocStatuses">
                    </p-multiSelect>
                </div>
                <div class="ui-grid-col-2">
                    <button pButton type="button" icon="fa fa-times" label="Закрыть"
                        (click)="showFilter=false" class="ui-button-danger btn-block" style="float:right">
                    </button>
                </div>
            </div>           
        </div>
    </p-card>
</p>

<p>

<p-panel>
  <p-header>
      <div class="ui-helper-clearfix">
        <span class="ui-panel-title" style="display:inline-block;margin-top:6px">
            <h4><b>Документы</b></h4>
        </span> 

        <button pButton type="button" label="Добавить" style="margin-top:6px;float:right" 
            [routerLink]="['add']" icon="fa fa-plus">
        </button>
        <button pButton type="button" icon="fa fa-filter" label="Фильтр"
            (click)="showFilter=true" class="ui-button-info" style="margin-top:6px;margin-right:4px;float:right">
        </button> 
        <p-dropdown [options]="columns" [(ngModel)]="selectedSortField" optionLabel="header" [autoWidth]="false"
             [showClear]="false" [style]="{'min-width':'10em'}">
        </p-dropdown>
        <span>
            Сортировка по:
        </span>
        <p-dropdown [options]="sortTypes" [(ngModel)]="selectedSortType" [autoWidth]="false"
             [showClear]="false" [style]="{'min-width':'10em'}">
        </p-dropdown>
        <button pButton type="button" icon="fa fa-sort" label="Сортировать"
            (click)="useSorting()" class="ui-button-info" style="margin-top:6px;margin-right:4px;float:right">
        </button> 
      </div>
  </p-header>
  
  <p-table #dt [columns]="columns" [responsive]="true" (sortFunction)="customSort($event)" [customSort]="false"
      [value]="documents" [reorderableColumns]="true" [columnResizeMode]="expand" [autoLayout]="true"
      [rows]="null" [rowHover]="true" [paginator]="false" [dataKey]="id" [loading]="false"
      >
      <ng-template pTemplate="caption">
          <div style="text-align: right">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Фильтр" style="width:auto" 
                  (input)="dt.filterGlobal($event.target.value, 'contains')">
          </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 2.25em"></th>
                <th *ngFor="let column of columns" style="text-align:center" 
                    [pSortableColumn]="column.field" pReorderableColumn>
                    {{column.header}}
                    <p-sortIcon [field]="column.field"></p-sortIcon>
                </th>
                <th></th>
            </tr>
      </ng-template>
      <ng-template pTemplate="body" let-document let-rowData let-expanded="expanded" let-columns="columns">
          <tr [ngClass]="rowData.status.status == 'Оплачен' ? 'paid' : null" >
              <td>
                <a href="#" [pRowToggler]="rowData">
                  <i [ngClass]="expanded ? 'fa fa-fw fa fa-chevron-circle-down' : 'fa fa-fw fa fa-chevron-circle-right'"></i>
                </a>
              </td>
              
              <td style="text-align:center" (click)="goToEntry(document?.url)">
                    {{document.id}}
                </td>
              <td style="text-align:left" (click)="goToEntry(document?.url)">
                  {{document.docType.shortTitle}}
              </td>
              <td style="text-align:center" (click)="goToEntry(document?.url)">
                  {{document.number}}
              </td>
              <td style="text-align:center" (click)="goToEntry(document?.url)">
                  {{document.amount | number: '3.2-2'}}
              </td>
              <td style="text-align:center" (click)="goToEntry(document?.url)">
                  {{document.dated == null ? '-' : document.dated | date: 'dd.MM.y'}}
              </td>
              <td style="text-align:center" (click)="goToEntry(document?.url)">
                  {{document.paymentDate == null ? '-' : document.paymentDate | date: 'dd.MM.y'}}
              </td>
              <td style="text-align:center" (click)="goToEntry(document?.url)">
                  {{document.status.status}}
              </td>
              
              <!-- <td *ngFor="let column of columns" style="text-align:center"
                  (click)="goToEntry(document?.url)">
                  {{rowData[column.field]}} 
              </td> -->

              <td style="text-align:center">
                  <button pButton type="button" class="ui-button-info" 
                      icon="fa fa-arrow-circle-o-right"  
                      (click)="goToEntry(document?.url)">
                  </button>
                  <p-tieredMenu #menu [model]="items" [popup]="true" 
                      appendTo="body">
                  </p-tieredMenu>
                  <!-- <button #btn pButton type="button" icon="fa fa-list" class="ui-button-info" 
                      (click)="menu.toggle($event)" (mousedown)="initMenu(document?.id)">
                  </button> -->
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
          <tr>
              <td [attr.colspan]="columns.length + 2">
                  <div class="ui-g-12 ui-md-12" >
                          <p-card>
                                <div class="ui-helper-clearfix">
                                    <span class="ui-panel-title" style="display:inline-block;margin-top:4px">
                                        <h5><b>Договор:</b> {{rowData.agreementNumber}}</h5>
                                    </span>  
                                    <button pButton type="button" class="ui-button-info" 
                                        icon="fa fa-arrow-circle-o-right" label="Перейти"
                                        [routerLink]="['/agreements', rowData.agreementId]">
                                    </button>
                                </div>
                            </p-card>
                  </div>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length + 2" style="text-align:center">
                No records found
            </td>
        </tr>
    </ng-template>
      <ng-template pTemplate="summary">
          Кол-во записей: {{documents?.length}}
      </ng-template>
  </p-table>
</p-panel>