<div class="ui-g-12">
    <div class="ui-g-10">
        <p-card >
            <div class="ui-g center" *ngIf="loadingState" >
                <img
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
            </div>
            <div class="ui-g" *ngIf="!loadingState">
                <div class="ui-g-4 ui-sm-6"><b>{{'Полное название:'}}</b></div>
                <div class="ui-g-8 ui-sm-6">{{client?.title}}</div>
                <div class="ui-g-4 ui-sm-6"><b>{{'Псевдоним:'}}</b></div>
                <div class="ui-g-8 ui-sm-6">{{client?.code}}</div>
                <div class="ui-g-4 ui-sm-6"><b>{{'ЕДРПОУ:'}}</b></div>
                <div class="ui-g-8 ui-sm-6">{{client?.edrpou}}</div>
                <div class="ui-g-4 ui-sm-6"><b>{{'ИНН:'}}</b></div>
                <div class="ui-g-8 ui-sm-6">{{client?.inn}}</div>
                <div class="ui-g-4 ui-sm-6"><b>{{'№ свидетельства плат. НДС:'}}</b></div>
                <div class="ui-g-8 ui-sm-6">{{client?.vatCertificate}}</div>
            </div>
        </p-card>
    </div>
    <div class="ui-g-2" *ngIf="loadingState" style="text-align: center;">
        <img
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
    </div>
    <div class="ui-g-2" *ngIf="!loadingState">
        <button
            pButton
            type="button"
            label="Изменить"
            class="ui-button-success btn-block"
            icon="fa fa-edit"
            [routerLink]="['edit']"
        ></button>
        <button
            pButton
            type="button"
            label="Удалить"
            class="ui-button-danger btn-block"
            icon="fa fa-trash-o"
            (click)="confirmDeleting()"
        ></button>
    </div>
</div>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button
            type="button"
            pButton
            icon="fa fa-check"
            class="ui-button-primary"
            label="Ок"
            (click)="cd.accept()"
        ></button>
        <button
            type="button"
            pButton
            icon="fa fa-close"
            class="ui-button-secondary"
            label="Отмена"
            (click)="cd.reject()"
        ></button>
    </p-footer>
</p-confirmDialog>
