<div class="ui-g">
    <div class="ui-g-4">
        <button pButton type="button" label="Вернуться" class="ui-button-info"
                icon="fa fa-arrow-circle-o-left" routerLink="../"></button>
    </div>
    <div class="ui-g-8">
        <h4 style="font-weight:normal">
            <b>
                <ins>Новый клиент</ins>
            </b>
        </h4>
    </div>
</div>

<div>
    <p-tabMenu [model]="tabs"></p-tabMenu>
</div>

<div class="ui-g-12">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <div class="ui-g-10">
            <p-card>
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            <b>Полное название: *</b>
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text"
                                   placeholder="Обязательное поле"
                                   formControlName="title"
                            >
                        </div>
                        <div class="ui-grid-col-3">
                            <p-message severity="error"
                                       text="Введите полное название (не менее 2 символов)!"
                                       *ngIf="!clientForm.controls['title'].valid&&clientForm.controls['title'].dirty">
                            </p-message>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            <b>Псевдоним: *</b>
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text"
                                   placeholder="Обязательное поле"
                                   formControlName="alias"
                            >
                        </div>
                        <div class="ui-grid-col-3">
                            <p-message severity="error"
                                       text="Введите псевдоним (не менее 2 символов)!"
                                       *ngIf="!clientForm.controls['code'].valid&&clientForm.controls['code'].dirty">
                            </p-message>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            <b>ЕДРПОУ: *</b>
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text"
                                   placeholder="Обязательное поле"
                                   pKeyFilter="num"
                                   formControlName="edrpou"
                            >
                        </div>
                        <div class="ui-grid-col-3">
                            <p-message severity="error"
                                       text="Введите ЕДРПОУ (не менее 6 и не более 14 цифр)!"
                                       *ngIf="!clientForm.controls['edrpou'].valid&&clientForm.controls['edrpou'].dirty">
                            </p-message>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            <b>ИНН:</b>
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text"
                                   placeholder="Введите ИНН (необязательное поле)"
                                   formControlName="inn"
                            >
                        </div>
                        <div class="ui-grid-col-3">
                            <p-message severity="error"
                                       text="Введите не более 14 цифр)!"
                                       *ngIf="!clientForm.controls['inn'].valid">
                            </p-message>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            <b>№ свидетельства плат. НДС:</b>
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text"
                                   placeholder="Введите № свид. НДС (необязательное поле)"
                                   formControlName="vatCertificate"
                            >
                        </div>
                        <div class="ui-grid-col-3">
                            <p-message severity="error"
                                       text="Введите не более 20 цифр)!"
                                       *ngIf="!clientForm.controls['vatCertificate'].valid">
                            </p-message>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
        <div class="ui-g-2">
            <button pButton type="submit" label="Записать" [disabled]="!clientForm.valid"
                    class="ui-button-success btn-block" icon="fa fa-check-square-o">
            </button>
            <button pButton type="button" label="Отмена"
                    class="ui-button-danger btn-block"
                    icon="fa fa-times-rectangle-o"
                    [routerLink]="['../']">
            </button>
        </div>
    </form>
</div>
