/* You can add global styles to this file, and also import other style files */

.list-group-item.active {
    background-color:rgb(194, 194, 194) !important;
    border-color:rgba(168, 168, 168, 0.747) !important;
}

.p4 {
	margin-bottom: 4em;
}

.p-invert {
	text-align: center;
	filter: invert(20%);
}

.text-center{
    text-align: center;
}

.alert p{
	margin: 0;
	padding: 0;
}

#grayOutDiv
{
    background-color: #333;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
}

.flash-message
{
    z-index: 10000;
    position: relative;
}

thead>tr>th {
    cursor: pointer;
}