<div class="ui-g-12">
  <div class="ui-g-10">
    <p-card>
      <p-table [columns]="columns" [responsive]="responsive" [sortField]="sortField" [sortOrder]="1"
        [value]="datasource" [reorderableColumns]="reorderableColumns" [autoLayout]="autoLayout"
        [rows]="rows" [rowHover]="rowHover" [paginator]="paginator" selectionMode="single" dataKey="id" [(selection)]="selectedItem"
        [loading]="loading">
        <ng-template pTemplate="header" let-columns>
          <tr>
              <th style="width: 2.25em"></th>
              <th *ngFor="let column of columns" style="text-align:center"  
                  [pSortableColumn]="column.field" pReorderableColumn>
                  {{column.header}}
                  <p-sortIcon [field]="column.field"></p-sortIcon>
              </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-datasource let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
              <td>
                  <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
              </td>
              <td *ngFor="let column of columns" style="text-align:center"
                  (dblclick)="goToEntry(datasource?.url)">
                  <span class="ui-column-title">{{column.header}}</span>
                  {{rowData[column.field]}}
              </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
              <td [attr.colspan]="columns.length + 1" style="text-align:center">
                  Записи не найдены
              </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            Кол-во записей: {{datasource?.length}}
        </ng-template>
      </p-table>
    </p-card>
  </div>
  <div class="ui-g-2">
    <button pButton type="button" label="{{addButtonTitle}}" 
      class="ui-button-rounded ui-button-primary btn-block" icon="fa fa-plus-circle"
      [routerLink]="routerLinkUrl">
    </button>
    <button pButton type="button" label="{{editButtonTitle}}" 
      class="ui-button-rounded ui-button-success btn-block" icon="fa fa-edit" [disabled]="!selectedItem"
      (click)="goToEntry(selectedItem?.url)">
    </button>
  </div>
</div>
