<p-dataView #dv [value]="categories" [paginator]="false" [rows]="0" layout="grid"
  emptyMessage="Нет данных" *ngIf="categories?.length>0; else loadingStatus">
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="display:inline-block;margin-top:6px;text-align:left">
          <h4><b>Главное меню</b></h4>
      </span>  
    </div>
  </p-header>
  <ng-template let-category pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-4">
      <p-panel [style]="{'text-align':'center'}">
        <p-header>
            <i class="fa {{category.icon}}"></i> <b>{{category.label}}</b>
        </p-header>
        <button pButton type="button" icon="fa-reorder" label="Показать все"
          class="ui-button-success btn-block"
          [routerLink]="[category.routerLink]" style="margin-top:4px;margin-bottom:4px">
        </button>
        <button pButton type="button" icon="fa-plus" label="Добавить"j
          class="ui-button-primary btn-block"
          [routerLink]="[category.routerLink, 'add']" style="margin-top:4px;margin-bottom:4px">
        </button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>

<ng-template #loadingStatus pTemplate="gridItem">
  <app-loading-status></app-loading-status>
</ng-template>